<!-- 投稿詳細画面：投稿された本の感想を個別に表示する画面 -->
<body>
    <p id = "notice"><%= notice %></p>
    <p>
        <strong>Title:</strong>
        <%= @book.title %>
    </p>
    <p>
        <strong>Body:</strong>
        <%= @book.body %>
    </p>
    <%= link_to "Edit", edit_book_path(@book.id), class: "edit" %>
    |
    <%= link_to "Back", books_path, class: "back" %>
</body>
